@import "tailwindcss";

:root {
  --background: #1f1f24;
  --foreground: #171717;
}

@theme {
  --animate-spin-slower: spin 10s linear infinite;
  --container-7xl: 85rem;
  --color-dark-gray: #1f1f24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background-color: var(--color-dark-gray); /* your color */
  background-image: url("/img/image.png"); /* path to your image */
  background-repeat: no-repeat; /* or repeat if you want tiling */
  background-size: contain; /* adjust as you like: contain, auto... */
  background-position: top center; /* show image at the top and center */
  font-family: Arial, Helvetica, sans-serif;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 135deg;
}

@layer utilities {
  .borderbox-animated {
    border-radius: 8px;
    border: 1px solid transparent; /* Always-on fallback border */
    box-shadow: 0 0 0 1px #3b413d inset;
    background: linear-gradient(#272730, #272730) padding-box,
      linear-gradient(var(--angle), #181c1f 90%, #a8ff53 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: border-rotate 9s linear infinite;
  }
}

/* @layer utilities {
  .has-span\:text-gradient span {
    @apply text-linear;
  }
} */

@utility text-linear-lime {
  background: linear-gradient(90deg, var(--color-lime-400), var(--color-lime-600));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease forwards;
}

@keyframes border-rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@layer utilities {
  .main-heading {
    @apply font-mono text-4xl md:text-5xl font-medium text-white mb-8;
  }
  .main-heading span {
    @apply text-linear-lime;
  }
}

@layer utilities {
  .section-title {
    @apply font-mono text-2xl md:text-4xl font-medium text-white mb-2;
  }
  .section-title span {
    @apply text-slate-400;
  }
}

@layer utilities {
  .section-mini-title {
    @apply text-lime-400 font-mono text-sm mb-2;
  }
}

@layer utilities {
  .service-para {
    @apply text-zinc-400 text-left font-mono text-sm;
  }
  .service-para span {
    @apply text-pink-500;
  }
}

@utility logo-name {
  background: linear-gradient(270deg, hsla(0, 0%, 100%, 0.32), #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
