@import "tailwindcss";

:root {
  --background: #1f1f24;
  --foreground: #171717;
}

@theme {
  --animate-spin-slower: spin 10s linear infinite;
  --container-7xl: 85rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background-color: var(--background); /* your color */
  background-image: url("/img/image.png"); /* path to your image */
  background-repeat: no-repeat; /* or repeat if you want tiling */
  background-size: contain; /* adjust as you like: contain, auto... */
  background-position: top center; /* show image at the top and center */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 135deg;
}

@layer utilities {
  .borderbox-animated {
    border-radius: 8px;
    border: 1px solid transparent;
    background: linear-gradient(#272730, #272730) padding-box,
      linear-gradient(var(--angle), #181c1f 90%, #a8ff53 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: border-rotate 9s linear infinite;
  }
}

@utility text-linear-4 {
  background: linear-gradient(-90deg, rgb(101, 153, 50), rgb(168, 255, 83));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



@keyframes border-rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
